<!-- modal -->

<div class="backdrop is-hidden" data-explore>
  <div class="modal">
    <img
      class="img-style-radius"
      src="./img/explore_our_new_chocolate_first/explore_desk_2x.jpg"
      alt="photo"
    />
    <button type="button" data-modal-close-1 class="modal-close">
      <svg class="explore-icon-modal-btn" width="24" height="24">
        <use href="./img/sprite.svg#icon-vector"></use>
      </svg>
    </button>
    <p class="explore-modal-title">
      Explore our <br />
      <span>new chocolate</span> first!
    </p>
    <form class="explore-modal-form">
      <label class="explore-form-label">
        <input
          type="email"
          class="explore-form-input"
          name="fullname"
          placeholder="Enter your email"
          required
        />
      </label>
      <button type="submit" class="explore-form-btn btn">Submit</button>
    </form>
  </div>
</div>
