<section class="hero">
    <div class="hero-content">
      <p class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="all-button">
        <div class="hero-buttons">
          <button type="button" class="buy-now">Buy now</button>
          <button type="button" class="how-its">How it`s made</button>
        </div>
        <div class="scroll-button">
          <p class="last-button-text">scroll down</p>
          <button type="button" class="scroll">
            <svg class="icon-scroll" width="16" height="16">
              <use href="../img/sprite.svg#icon-hero-scroll-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>