<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-section-title title">
      <span class="part-section-title">chocolate </span>
      is loved
    </h2>
    <div class="reviews-slider swiper">
      <!-- Additional required wrapper -->
      <div class="reviewr-slider-wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/victoria_dobrzhanska_reviews.jpg 1x, ../img/reviews/victoria_dobrzhanska_reviews_2x.jpg 2x"
              src="../img/reviews/victoria_dobrzhanska_reviews.jpg" alt="The photo of Victoria Dobrzhanska">
            <h3 class="name-of-reviewer">Victoria Dobrzhanska</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/nazar_babenko_reviews.jpg 1x, ../img/reviews/nazar_babenko_reviews_2x.jpg 2x"
              src="../img/reviews/nazar_babenko_reviews.jpg" alt="The photo of Nazar Babenko">
            <h3 class="name-of-reviewer">Nazar Babenko</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/olena_kampusch_reviews.jpg 1x, ../img/reviews/olena_kampusch_reviews_2x.jpg 2x"
              src="../img/reviews/olena_kampusch_reviews.jpg" alt="The photo of Olena Kampusch">
            <h3 class="name-of-reviewer">Olena Kampusch</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/natalia_sus_reviews.jpg 1x, ../img/reviews/natalia_sus_reviews_2x.jpg 2x"
              src="../img/reviews/natalia_sus_reviews.jpg" alt="The photo of Natalia Sus">
            <h3 class="name-of-reviewer">Natalia Sus</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/danilo_nottingham_reviews.jpg 1x, ../img/reviews/danilo_nottingham_reviews_2x.jpg 2x"
              src="../img/reviews/danilo_nottingham_reviews.jpg" alt="The photo of Danilo Nottingham">
            <h3 class="name-of-reviewer">Danilo Nottingham</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>

        <div class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img class="photo-of-reviewer"
              srcset="../img/reviews/irina_tydnyuk_reviews.jpg 1x,../img/reviews/irina_tydnyuk_reviews_2x.jpg 2x"
              src="../img/reviews/irina_tydnyuk_reviews.jpg" alt="The photo of Irina Tydnyuk">
            <h3 class="name-of-reviewer">Irina Tydnyuk</h3>
          </div>
          <div class="review-wrapper">
            <p class="review">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class:)
            </p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="reviews-slider-pagination swiper-pagination-1"></div>
    </div>

    <button class="reviews-btn btn" type="button">Leave a review</button>
  </div>
</section>